<section id="blog" class="portfolio">
    <div class="container">

      <div class="section-title">
        <h2>Blog</h2>
        
      </div>

      <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="100">

        <div class="col-lg-4 col-md-6 portfolio-item filter-app">
          <div class="portfolio-wrap">
            <img src="images/blog/google.png" class="img-fluid" alt="">
            <div class="portfolio-links">
              <a href="images/blog/google.png" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 1"><i class="bx bx-plus"></i></a>
              <a href="www.google.com" blank="" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-web">
          <div class="portfolio-wrap">
            <img src="images/blog/facebook.jpg" class="img-fluid" alt="">
            <div class="portfolio-links">
              <a href="images/blog/facebook.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Web 3"><i class="bx bx-plus"></i></a>
              <a href="#" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-app">
          <div class="portfolio-wrap">
            <img src="images/blog/detik.png" class="img-fluid" alt="">
            <div class="portfolio-links">
              <a href="images/blog/detik.png" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 2"><i class="bx bx-plus"></i></a>
              <a href="#" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-card">
          <div class="portfolio-wrap">
            <img src="images/blog/instagram.jpg" class="img-fluid" alt="">
            <div class="portfolio-links">
              <a href="images/blog/instagram.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Card 2"><i class="bx bx-plus"></i></a>
              <a href="#" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-web">
          <div class="portfolio-wrap">
            <img src="images/blog/kaskus.png" class="img-fluid" alt="">
            <div class="portfolio-links">
              <a href="images/blog/kaskus.png" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Web 2"><i class="bx bx-plus"></i></a>
              <a href="#" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-app">
          <div class="portfolio-wrap">
            <img src="images/blog/kompas.png" class="img-fluid" alt="">
            <div class="portfolio-links">
              <a href="images/blog/kompas.png" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 3"><i class="bx bx-plus"></i></a>
              <a href="#" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>
        </div>

       

      </div>

    </div>
  </section>