<section id="team" class="team">
    <div class="container">

      <div class="section-title">
        <h2>Team</h2>
        
      </div>
      <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
        <div class="swiper-wrapper">

          <div ">
            <div class="testimonial-item" data-aos="fade-up">
              <p>
               
              </p>
              <img src="images/team/sasuke.jpg"  alt="">
              <h3>Sasuke</h3>
              <h4>Ceo &amp; Founder</h4>
            </div>
          </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

          <div >
            <div class="testimonial-item" data-aos="fade-up" data-aos-delay="100">
              <p>
              
              </p>
              <img src="images/team/naruto.jpg"  alt="">
              <h3>Naruto</h3>
              <h4>Designer</h4>
            </div>
          </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

          <div >
            <div class="testimonial-item" data-aos="fade-up" data-aos-delay="200">
              <p>
                
              </p>
              <img src="images/team/zoro.jpg"  alt="">
              <h3>Zoro</h3>
              <h4>Store Owner</h4>
            </div>
          </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

          <div >
            <div class="testimonial-item" data-aos="fade-up" data-aos-delay="300">
              <p>
               
              </p>
              <img src="images/team/itachi.jpg"  alt="">
              <h3>Itachi</h3>
              <h4>Freelancer</h4>
            </div>
          </div>&nbsp;&nbsp;

        </div>
        <div class="swiper-pagination"></div>
      </div>


    </div>
  </section>